name: Accessibility tests

on:
  pull_request:
  push:

jobs:
  pa11y:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run Pa11y CI on GitHub Pages site
        run: npm run test:a11y
