name: Accessibility tests

on:
  pull_request:
  push:

jobs:
  pa11y:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Build app
        run: npm run build

      - name: Start server
        run: |
          npx serve -s build -l 3000 &
          sleep 5

      - name: Run Pa11y CI
        run: npm run test:a11y
